body
{
	text-align: center;
	background-color: #fafafa;
}

.box{
	margin:0 auto;
	width: 600px;
	height: 200px;
	display: block;
	text-align: center;
	background-color: #fff;
	border: 1px solid #efefef;
}
h1{
	font-family: pacifico;
}

button{
	background-color: #3897f0;
	text-decoration: none;
	border: 1px;
	border-radius: 5px;
	color: white;
	width: 60%;
	height: 30px;
	font-family: montserrat;
	font-size: 1em;
}
button{
	display: block;
    margin: 0 auto;
    text-decoration: none;
}

a:button{
	text-decoration:none; 

}

input
{
    width: 60%;
    height: 30px;
    text-align: center;
    font-size: 18px;
     border: none;
    border-style: none; 
    border-color: Transparent !important;
}

input:focus{
	 border: none;
    border-style: none; 
    border-color: Transparent !important;
	outline: none !important;
    border: none;
}

.alert{
		position: static;
		bottom:0;
		left: 0;
		right: 0;
		color: white;
		list-style-type: none;
		font-size: 24px;
}

.aRed
{
	background-color: #ff1a1a;
}

.aGreen
{
	background-color: green;
}