body {
  margin: 0;
  padding: 0;
  background: #fafafa;
}

i{
  color: black;
}

video{
  transform: scale(-1, 1);
}

img{
  width: 30%;
  margin-top: 5px;
  transition: 0.5 width;
}

.nav ul {
  list-style: none;
  background-color: #FFF;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family:pacifico;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  transition: width 2s;
}

.nav a {
  text-decoration: none;
  color:black;
  display: block;
  transition: .5s background-color;
}

.nav a:hover {
  background-color: #fafafa;
}

.box{
  margin:0 auto;
  width: 600px;
  display: block;
  text-align: center;
  background-color: #fff;
  border: 1px solid #efefef;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.img_size
{
  height: 440px;
  width: 100%;
}

.info_user
{
  position: relative;
  left: -223px;
  display: inline;
  font-size: 28px;
  font-family: amatic sc;
}

.info_like
{
  position: relative;
  right: -187px;
  display: inline;
  color: black;
  font-family: amatic sc;
  font-size: 27px;
}

.info{
  height: 46px;
  width: 100%;
  margin-top: 10px;
}

.heart_s
{
  font-size: 28px;
  padding-left: 5%;
  color: red;
  float: left;
  color:#9b9b9b;
  transition: color 0.3s;
}

.heart_s:hover{
  color: red;
}

.interaction{
  display: inline-block;
  height: 46px;
  width: 100%;
  margin-top: 10px;
}

.box_center{
  float: center;
  width: 600px;
  height: auto;
  display: block;
  text-align: center;
  background-color: #fff;
  border: 1px solid #efefef;
  margin-top: 10px;

}

.box_left{
  float: left;
  width: 600px;
  height: auto;
  display: block;
  text-align: center;
  background-color: #fff;
  border: 1px solid #efefef;
  margin-top: 10px;
}

.nav li {
  width: 120px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
}
.nav li {
  display: inline-block;
  margin-right: -4px;
}

.canvas{
  margin-top:10px;
  //transform: scale(-1, 1);
}

/*button{
  background-color: #3897f0;
  text-decoration: none;
  border: 1px;
  border-radius: 5px;
  color: white;
  width: 94%;
  height: 30px;
  font-family: montserrat;
  font-size: 1em;
  //visibility: hidden;
  }*/

  .user_log{
    position: absolute;
    top:-26px;
  }
  .comment{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    word-wrap: break-word;

  }

  input {
    border: none;
    border-style: none; 
    border-color: Transparent !important;
    border-left: 1px solid silver;
    height: 30px;
    text-align: left;
    width: 70%;
    padding-left: 2%;
    font-size: medium;
  }

  input:focus {
    border-style: none; 
    border-color: Transparent;
    outline: none !important;
    border: none;
  }

  .com_user
  {
    display:inline;
    //font-family: Patrick Hand SC;
    //font-size: 30px;
  }

  .com_text
  {
    display:inline;
    //font-family: Patrick Hand SC;
  }

  .postit{
    background-image: url('../svg/postit.svg');
    width: 50px;
    height: 50px;
  }

  .pagination{
    text-decoration: none;
    font-size: 28px;
    font-family: amatic sc;
  }

  @media screen and (min-width: 200px) and (max-width: 1024px){
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }

    .box{
      margin:45px auto;
      width: 95%;
      height: auto;
      display: block;
      text-align: center;
      background-color: #fff;
      border: 1px solid #efefef;
      margin-top: 10px;

    }

    .user_log{
      font-family:120%;
    }

    img{
      width: 43%;
      margin-top: 5px;
    }
    /* Option 1 - Display Inline */
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }

    .img_size
    {
      height: 100%;
      width: 100%;
      border-radius:0 0 5px 5px;
    }

    .interaction{
      height: 46px;
      width: 100%;
      //margin-top: -37px;
    }

.info_user
{
  position: relative;
  left: -43%;
  display: inline;
  font-size: 43px;
  font-family: amatic sc;
}
.pagination{
  font-size: 260%;
}

    /* Options 2 - Float*/
/*  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  
}*/